<h1>Simple Demonstration</h1>

<p> To show how MEAN STACK Works</p>

<form action="/app.js" method="POST">
	Name :<input type="text" name="username" id="userid" placeholder="Name">
	Password :<input type="password" name="password" id="passid" placeholder="Password">
	<input type="submit">
</form>	